::selection
{
color:#fff;
background-color:#3eaf7c;
}

::-moz-selection
{
color:#fff;
background-color:#3eaf7c;
}

.theme-container .home{
    background:url('https://ftp.bmp.ovh/imgs/2019/12/c1bd6ab466d685b9.jpg');
    background-size:cover
}
.hero img{
    width:120px;
    height:120px;
    border-radius:50%;
    box-shadow:0 0 8px #20dfde;
}
